{{ define "page-main" }}
<!-- prettier-ignore -->
<main class="constrained-section responsive-section--bottom site-content post-list">
  {{ $posts := .Paginate (where .Site.RegularPages "Type" "in" "posts") }}

  {{ range $posts.Pages }}
    {{ if .Site.Params.listFullPosts }}
      {{ partial "post-unabridged" (dict "context" . "isHome" .IsHome ) }}
    {{ else }}
      {{ partial "post-abridged" (dict "context" . "isHome" .IsHome ) }}
    {{ end }}
  {{ end }}
  
  {{ partial "post-pagination" . }}
</main>

{{ end }}
