@import "variables.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
}
body {
  color: $body-text-color;
  background-color: $site-bg-color;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
hr {
  border: 0;
  border-top: $border-solid-thin;
  border-bottom: $border-solid-thin;
  margin: $spacing-md auto;
}
