@import "variables.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

body {
  color: $text-color;
  background-color: $site-bg-color;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $highlight-color;
    outline: 2px solid $text-color;
  }
}

hr {
  border: 0;
  border-top: $border-solid-thin;
  border-bottom: $border-solid-thin;
  margin: $spacing-md auto;
}
