@import "variables.scss";

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: $spacing-md;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
}

ul {
  list-style: inside disc;
  padding-left: 0;

  ul,
  ol {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }

  li {
    margin-bottom: 0.25rem;
  }
}

ol {
  list-style: inside decimal;
  padding-left: 0;

  ul,
  ol {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }

  li {
    margin-bottom: 0.25rem;
  }
}

ul,
ol {
  ul {
    list-style: inside circle;
    padding-left: 1rem;

    ul {
      list-style: inside none;
      padding-left: 1.4rem;
    }
  }
}
