@import "variables.scss";

table {
  margin-bottom: $spacing-md;
  width: 100%;
  border: $border-solid;
  border-collapse: collapse;
}
td,
th {
  padding: $spacing-xs $spacing-sm;
  border: $border-solid;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $alt-bg-color;
}
