@import "variables.scss";
@import "mixins.scss";

a {
  &,
  &:active,
  &:visited {
    color: $link-color;
    margin: 0 -$highlight-height;
    padding: 0 $highlight-height;
    text-decoration: none;

    @include link-highlights(-6px, -22px);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: bold;
  letter-spacing: -0.025rem;
  line-height: 1.1;
  margin: 0;
}

h1 {
  /* site-title */
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 0 $spacing-sm;

  a {
    @include link-highlights(-12px, -48px);
  }
}

h2,
h4 {
  /* h2: nav-link */
  /* h4: post-tag */
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  margin: 0 $spacing-sm 0 0;
  text-transform: lowercase;

  &::last-child {
    margin-right: 0;
  }
}

h3 {
  /* page-title + post-title */
  font-size: 1.75rem;
  margin: 0 0 $spacing-sm;

  a {
    @include link-highlights(-10px, -42px);
  }
}

h5 {
  /* post-date */
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 0 0 $spacing-sm;
  text-transform: uppercase;

  a {
    @include link-highlights(-8px, -36px);
  }
}

h6 {
  /* post-duration */
  /* page-date */
  display: inline-block;
  font-size: 0.85rem;
  letter-spacing: 1px;
  margin: 0 0 $spacing-sm;
  text-transform: uppercase;
}

p {
  margin: 0 0 $spacing-md;
}

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: $spacing-md;
}

strong {
  color: inherit;
  font-weight: bold;
}

abbr {
  font-size: 1rem;
  font-weight: bold;
  color: $heading-color;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: $border-dotted;
  }
}

blockquote {
  padding: 0 0 0 $spacing-md;
  margin: 0 $spacing-lg $spacing-md 0;
  color: $blockquote-color;
  border-left: $border-solid-thick;

  p:last-child {
    margin-bottom: 0;
  }
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: $spacing-xs $spacing-sm;
  font-size: 1rem;
  color: $code-color;
  background-color: $alt-bg-color;
  border-radius: $border-radius;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: $spacing-md;
  padding: $spacing-md;
  font-size: 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  background-color: $alt-bg-color;

  code {
    padding: 0;
    font-size: 1rem;
    color: inherit;
    background-color: transparent;
  }
}

time {
  text-transform: uppercase;
}
