.gist {
  .gist-file {
    font-family: Menlo, Monaco, "Courier New", monospace !important;

    .gist-data {
      font-size: 1rem !important;
      line-height: 1.4;
    }
  }

  .markdown-body {
    padding: var(--spacing-md);
  }

  pre {
    padding: 0;
    background-color: transparent;
  }

  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}
