@import "variables.scss";

@media (min-width: 38rem) {
  html {
    font-size: 20px;
  }
  .constrained-section {
    padding: 0 $spacing-md;
  }
  .responsive-section--top {
    margin-top: $spacing-xl;
  }
  .responsive-section--bottom {
    margin-bottom: $spacing-xl;
  }
}
