@import "variables.scss";
@import "_layout-defaults.scss";
@import "_list-defaults.scss";
@import "_text-defaults.scss";

/* site structure (desktop sizes set in custom-tablet-desktop.css) */
.constrained-section {
  max-width: 38rem;
  margin: 0 auto;
  padding: 0 $spacing-md;
}

.responsive-section--top {
  margin-top: $spacing-lg;
}

.responsive-section--bottom {
  margin-bottom: $spacing-lg;
}

.post::first-child {
  margin-top: 0;
}

.post-frontmatter {
  margin-bottom: $spacing-md;
}

/* pagination controls */
#post-nav {
  padding-top: $spacing-md;

  .prev {
    padding-right: $spacing-md;
  }
}
