<!-- prettier-ignore -->

<header class="constrained-section site-header">
  <h1 class="site-title">
    <a href="/">{{ .Site.Title }}</a>
  </h1>

  <nav class="primary-nav">
    {{ range (where .Site.RegularPages.ByTitle "Section" "pages" ) }}
      <a class="page-link" href="{{ .Permalink }}">{{ .Params.title | humanize | title }}</a>
    {{ end }}
    
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<a class="page-link alternate-feed %s" href="%s">%s</a>` .MediaType.SubType .Permalink .MediaType.SubType | safeHTML }}
    {{ end -}}
  </nav>
</header>
