<!-- prettier-ignore -->

<header class="constrained-section site-header">
  <h1 class="site-title">
    {{ .Site.Title }}
  </h1>

  <nav class="primary-nav">
    <h2 class="nav-link">
      <a href="/">Posts</a>
    </h2>

    {{ range (where .Site.RegularPages.ByTitle "Section" "pages" ) }}
      <h2 class="nav-link">
        <a href="{{ .Permalink }}">{{ .Params.title | humanize | title }}</a>
      </h2>
    {{ end }}

    {{ if and (.Site.Params.rssFeedLinkText) (.Site.Params.rssFeedLinkUrl) }}
      <h2 class="nav-link rss-feed">
        <a href="{{ .Site.Params.rssFeedLinkUrl }}">{{ .Site.Params.rssFeedLinkText }}</a>
      </h2>
    {{ end }}
  </nav>
</header>
