<!-- prettier-ignore -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="color-scheme" content="dark light">

  {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}" />
  {{ end }}
  
  {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}" />
  {{ end }}

  <title>
    {{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}
  </title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600&display=swap">

  <link rel="stylesheet" href="{{ "variables.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "custom-mobile.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "custom-tablet-desktop.css" | relURL }}" media="(min-width: 38rem)" />

  {{ if and (.Site.Params.rssFeedLinkText) (.Site.Params.rssFeedLinkUrl) }}
    <link rel="alternate" type="application/rss+xml" href="{{ .Site.Params.rssFeedLinkUrl }}" title="{{ .Site.Title }}" />
  {{ end }}
</head>
