<div class="post-frontmatter">
  <!-- prettier-ignore -->

  <h3 class="post-title">
    {{ if .isHome }}
      <a href="{{ .context.Permalink }}">{{ .context.Title }}</a>
    {{ else }}
      {{ .context.Title }}
    {{ end }}
  </h3>

  <h5 class="post-date">
    <time datetime="{{ .Date.UTC.Format "Mon Jan 02 2006 15:04:05 MST-0700" }}">
      {{ .context.Date.UTC.Format "Mon Jan 02 2006 15:04:05 MST-0700" }}
    </time>
  </h5>

  <h6 class="post-duration">
    {{ .context.ReadingTime }} min read
  </h6>
</div>
