* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}
body {
  color: var(--body-text-color);
  background-color: var(--site-bg-color);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
hr {
  border: 0;
  border-top: var(--border-solid-thin);
  border-bottom: var(--border-solid-thin);
  margin: 1.5rem auto;
}
