ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 0.5rem;
}
ul {
  list-style: inside circle;
  padding-left: 0;
}
ul li {
  margin-bottom: 0.25rem;
}
ul ul,
ul ol {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
ol {
  list-style: inside decimal;
  padding-left: 0;
}
ol li {
  margin-bottom: 0.25rem;
}
ol ul,
ol ol {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
