table {
  margin-bottom: 1rem;
  width: 100%;
  border: var(--border-solid);
  border-collapse: collapse;
}
td,
th {
  padding: 0.25rem 0.5rem;
  border: var(--border-solid);
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: var(--alt-bg-color);
}
