@media (min-width: 38rem) {
  html {
    font-size: 20px;
  }
  .constrained-section {
    padding: 0 var(--spacing-md);
  }
  .site-header,
  .site-footer {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
  }
  .post {
    margin-bottom: var(--spacing-xl);
  }
}
