@import "_layout-defaults.css";
@import "_list-defaults.css";
@import "_media-defaults.css";
@import "_table-defaults.css";
@import "_text-defaults.css";

.constrained-section {
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}
.site-header,
.site-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: 1rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

.lead {
  font-size: 1rem;
}

.site-title {
  font-weight: 300;
}
.site-title span {
  color: #ddd;
}
/* .site-title--small {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.site-title--small a {
  color: var(--heading-text-color);
}
.site-title--small a:hover,
.site-title--small a:focus {
  text-decoration: none;
} */
.site-header .primary-nav {
  margin-bottom: 2rem;
}
.site-header .primary-nav a {
  text-transform: lowercase;
}
.site-header .primary-nav a + a {
  margin-left: 1rem;
}
.page-title {
  margin-bottom: 2rem;
}
.post-title {
  margin-bottom: 0.25rem;
}
.post-date {
  margin-bottom: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.list-itrem {
  margin-top: 4rem;
}
.list-post-title {
  margin-bottom: 0.25rem;
}
.list-post-title a:hover,
.list-post-title a:focus {
  text-decoration: none;
}

.site-footer {
  font-size: 1rem;
  color: darkgray;
}
#post-nav {
  padding-top: 25px;
}
#post-nav .prev {
  padding-right: 10px;
}
.post-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
