@import "_layout-defaults.css";
@import "_list-defaults.css";
@import "_media-defaults.css";
@import "_table-defaults.css";
@import "_text-defaults.css";

/* site structure (desktop sizes set in custom-tablet-desktop.css) */
.constrained-section {
  max-width: 38rem;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}
.responsive-section--top {
  margin-top: var(--spacing-lg);
}
.responsive-section--bottom {
  margin-bottom: var(--spacing-lg);
}
.post:first-child {
  margin-top: 0;
}
.post-frontmatter {
  margin-bottom: var(--spacing-md);
}

/* pagination controls */
#post-nav {
  padding-top: var(--spacing-md);
}
#post-nav .prev {
  padding-right: var(--spacing-md);
}
