{{ define "page-main" }}
<!-- this is the page that shows at /categories/:category and /tags/:tag -->

<!-- prettier-ignore -->
<main class="constrained-section responsive-section--bottom site-content page-single">
  <h3 class="taxonomy-title">{{ lower .Title }}</h3>

  <section class="content">
    <ul>
      {{ range .Pages }}
      
      <li>
        <h5>
          <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
        </h5>
      </li>
      
      {{ end }}
    </ul>
  </section>
</main>
{{ end }}
